*auto/
*.aux
*.toc
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.run.xml
*.bcf
*.bbl
*.blg
*.glo
*.glg
*.gls
*.xdy
*.lof
*.lol
*.lot
thesis-de/_minted-thesis-de/
weekly_reports/*.pdf
weekly_reports/*/*.pdf
